DATABASE_URL="postgresql://admin:admin@localhost:5432/admin?schema=public"
JWT_SECRET=ad3asdadeqwq
JWT_REFRESH_EXPIRATION_TIME=3600000
JWT_ACCESS_EXPIRATION_TIME=3600000
CACHE_TTL=3600000
BCRYPT_SALT_ROUNDS=a123adas