DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_EXPIRATION_TIME=3600000
JWT_ACCESS_EXPIRATION_TIME=3600000
BCRYPT_SALT_ROUNDS=10

# OAuth - Google
# Get credentials from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

PORT=3000
BACKEND_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:3001


# Encryption   
ENCRYPTION_KEY=your_64_char_hex_encryption_key_here

