DATABASE_URL="postgresql://admin:admin@localhost:5432/admin?schema=public"
JWT_SECRET=ad3asdadeqwq
JWT_REFRESH_EXPIRATION_TIME=3600000
JWT_ACCESS_EXPIRATION_TIME=3600000
CACHE_TTL=3600000
BCRYPT_SALT_ROUNDS=a123adas

# OAuth - Google
# Get credentials from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=66844814866-tpubutjiurvqbsfivn0muqqpcep4lpnq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Application URLs
BACKEND_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:3001